.error {
    font-size: .8em;
    color: red;
}

#forms {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;
}

#forms .ui.segment {
  margin: 0 20px;
  flex: auto;
}

#wrapper {
  padding: 0 30px 30px 30px;
  background: white;
}

.prompt {
  margin-top: 0;
  margin-bottom: 10px;
  color: #da654a;
  font-size: 1.1em;
}

form.ui.segment {
  background: white;
  border-color: #339271;
}

.ui.grid .ui.segment {
  margin: 0 auto;
}

#wrapper form input.ui.button {
  background: #ef8771;
}

#before {
  font-size: 1.3em;
  font-style: italic;
  color: #d34b2e;
}

.text {
  color: #8d8d8d;
}

h2 {
  background: #4ca082;
  color: #9dcaba;
  padding: 40px 10px;
}

#list {
  padding: 20px;
  background: #efa771;
  border-radius: .8em;
}

/*.listItem {
  height: auto;
  width: 60%;
  border: 1px solid black;
  margin-bottom: 15px;
  padding: 10px;
}

.listItem p {
}*/

.itemTitle {
  display: inline;
  font-weight: bold;
  font-size: 1.2em;
  margin-left: 10px;
}

.itemDesc {
  display: inline;
  font-size: 1.1em;
}

.itemTitle, .itemDesc {
  vertical-align: text-bottom;
}

.itemDate {
  margin-top: 4px;
  display: block;
  font-size: .9em;
}

.itemPoster {
  font-weight: bold;
}

.taggedUser {
  color: grey;
  font-size: .9em;
}

#otherusers {
  border-color: #339271;
}

input + p {
  text-decoration: none;
}

input:checked + p {
  text-decoration: line-through;
}
